# Playwright

node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

#variables de entorno
.env

# Copias de seguridad temporales
package.backup.json
package-lock.backup.json